body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #e7fce4;
  color: #239a1b;
  margin: 0;
  padding: 0;
}

a {
  color: #328c14;
  text-align: center;
}

section{
    text-align: center;
}

a:hover {
  color: #0e8822;
}

header {
  background-color: #bcf8bb;
  padding: 30px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

.recados2 {
  display: flex;
  gap: 20px; 
  justify-content: center; 
  flex-wrap: wrap; 
  text-align: center;
}


header p {
  font-size: 1.2em;
  margin-top: 10px;
}

.buttons {
  text-align: center;
  margin: 20px 0;
}

.butons {
  background-color: #68c86b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

ul {
  text-align: center;
}

main {
  padding: 20px;
}

h2 {
  color: #2a880e;
  margin-top: 40px;
  text-align: center;
}

.recados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  background-color: #aff1a9;
  border-radius: 10px;
}

.recados img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.recados p {
  margin-top: 10px;
  font-weight: bold;
}

.modo-grade {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.modo-cor {
  background-color: #c5e7be;
  color: #268c14;
}


a button {
  margin: 10px;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}


footer {
  background-color: #caf8bb;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #1b9a23;
}
